*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.Header{
  height: 135px;
  max-width: 550px;
  margin: auto;
  background: #fff;
  text-align: center;
  h1{ 
    color: rgba(175, 47, 47, 0.15); 
    height: 110px;
    font-size: 100px;
    font-weight: 100; 
    width: 300px; 
    margin: auto;
  }
}
.App{   
  &__list{ 
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    max-width: 550px;
    margin: auto;
  }
}
.AddTodo{
  max-width: 550px;
  height: 60px;
  margin: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(219, 219, 219);
  input{
    width: 80%;
    height: 80%;
    font-size: 20px;
    border: none;
  }
}
.listTodo{
  max-width: 550px; 
  margin:  auto ; 
}
.listItem{
  display: flex;
  flex-direction: row;
  height: 50px;
  border-bottom: 1px solid rgb(216, 215, 215);
  padding: 5px; 
  align-items: center;
  position: relative;
  margin: 5px;
  i { 
    left: 10px;
    font-size: 30px; 
    color:rgb(0, 211, 0);
  }
  input:first-child{ 
    position:relative;
    height: 30px;
    width: 30px;  
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer; 
  }
  input:first-child:checked {  
    position:absolute;
  }
  &__btnclose{ 
    display: none;
  } 
  &__description{
    margin-left: 20px;
    &--completed{ 
      margin-left: 20px;
      text-decoration: line-through;
      color: rgb(182, 182, 182);
    }
  }
  &__inputmodal{
    width: 400px;
    height: 100%;
  }
}
.listItem:hover{  
  .listItem__btnclose{
    display: block;
    position: absolute;
    right: 10px;  
    border: none; 
    background-color: rgb(255, 255, 255); 
    width: 45px;
    height: 40px;
    margin: auto 0;
    font-size: 25px;
    color: #cc9a9a;
  }
}
.Footer {
  max-width: 550px; 
  min-height: 40px;
  margin: auto;
  background-color: rgb(255, 255, 255); 
  text-align: center;  
  flex-direction: row; 
  &__spanitems{
    margin-top: 10px;
    margin-left: 20px;
    span{
      color: #777;
      font-size: 15px;
    }
  }
  &__filter{
    margin-left: 70px;
  }
  &__clearitems{
    margin-left: 20px;
  }
  button{
    height: 25px;
    min-width: 35px;
    padding: 5px;
    margin: 5px;
    border: 1px solid transparent;
    background-color: white;
    color:#7e7e7e;
    font-size: 15px;
  }
}